<div class="container">
  <router-outlet></router-outlet>
</div>
<h3>View Child Examples</h3>
<h5>Selector Property Examples</h5>
<button routerLink="/component-selector">Component Selector</button>
<button routerLink="/directive-selector">Directive Selector</button>
<button routerLink="/template-reference-variable-selector">Template Reference Variable Selector</button>
<button routerLink="/class-token-provider-selector">Provider with Class Token Selector</button>
<button routerLink="/string-token-provider-selector">Provider with String Token Selector</button>
<button routerLink="/template-ref-selector">TemplateRef Selector</button>

<h5>Read Property Example</h5>
<button routerLink="/read-property-view-child">Read Property</button>

<h5>Static Property Examples</h5>
<button routerLink="/static-property-view-child">Static Property</button>
<hr>
<h3>View Children Examples</h3>
<button routerLink="/selector-property-view-children">Directive Selector</button>
<button routerLink="/read-property-view-children">Read Property</button>